<div class="caixa-selecao">
    <div class="mb-3">
        <input class="form-control" type="file" id="formFileMultiple" multiple (change)="onChange($event)">
    </div>
</div>

<div class="progress">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
</div>

<div class="caixa-selecao">
    <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Carregar</button>
</div>

<div class="caixa-selecao">
    <button type="button" class="btn btn-primary" (click)="onDownloadExcel()">Download Excel</button>
    <button type="button" class="btn btn-primary" (click)="onDownloadPDF()">Download PDF</button>
</div>
